
// sass-lint:disable no-qualifying-elements
// sass-lint:disable class-name-format
// sass-lint:disable no-mergeable-selectors

@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "utility-classes";

$color-dso-green: #49F2BA;
$color-dso-purple-dark: #2E0864;
$color-bg-survey: #380D75;
$color-dso-purple: #DE3BED;
$color-dso-blue: #18A3FF;
$color-dso-yellow: #FFDE75;
$color-dso-red: #FF7575;
$color-dso-text-purple: #6E49CB;
$color-dso-purple-bright: #8872ca;
/*^alternately#9885d1*/
$color-cta-bright: #FC6D26;
/**/
$dev-2019-color-blue: #00ffeb;
$dev-2019-color-purple: #151028;
$dev-2019-color-orange: #E24329;
$dev-2019-color-yellow: #ffd900;
$dev-2019-color-dark-purple: #670077;
$dev-2019-color-pink: #a6009c;
$cloudguide-bg: #1d083f;

/* resets */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  line-height: 1.2;
}

/* end resets */

body {
  background: $cloudguide-bg;
  color: $color-white;
  padding-top: 0;

  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.confirmform {
  overflow: hidden;
}

main {// sass-lint:disable no-duplicate-properties
  background: $color-bg-survey;
  background: linear-gradient(0deg, rgba(56,13,117,1) 0%, rgba(46,8,100,1) 100%);
  max-width: 100vw;
}

main:before,
main:after {
  content: "";
  display: table;
}

main h1 {
  font-weight: 700;
}

a {
  color: lighten($link-color, 25%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($link-hover-color, 25%);
  }
}

h1 {
  @extend %u-margin-bottom-xs;

  font-size: 46px;

  @media (min-width: $screen-sm-min) {
    font-size: 54px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 56px;
  }

  &.huge {
    font-size: 45px;

    @media (min-width: $screen-sm-min) {
      font-size: 72px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 80px;
    }    
  }
}

h2 {
  color: $color-white;
  font-size: 32px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 40px;
  }
}

h3 {
  color: $color-white;
  font-size: 28px;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}

:root .text-purple,
:root .text-purple em {
  color: $color-dso-text-purple;
}

#main-nav {
  display: none;
}

#main-nav.navbar {

  background: $color-bg-survey;
  height: 95px;
  margin: 0px auto 0px auto;
  padding: 0;
  top: -1px;
  /* ^ fix box shadow scroll bug */

  .navbar-inner-wrap {
    align-items: center;
    display: flex;
    height: 95px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
  }

  .navbar-right {
    height: auto;
  }

  .navbar-brand img {
    height: 50px;
  }

  a {
    font-size: 20px;
    font-weight: 600;
  }

  a:not(.btn) {
    border-bottom: 5px solid transparent;
    display: inline-block;
    color: #ffffff;
    line-height: 90px;
  }

  a:not(.btn):active,
  a:not(.btn):focus,
  a:not(.btn):hover {
    color: #ffffff;
    text-decoration: none;
  }

  .development:active,
  .development:focus,
  .development:hover {
    border-color: $color-dso-purple;
  }

  .security:active,
  .security:focus,
  .security:hover {
    border-color: $color-dso-blue;
  }

  .test:active,
  .test:focus,
  .test:hover {
    border-color: $color-dso-red;
  }

  .operations:active,
  .operations:focus,
  .operations:hover {
    border-color: $color-dso-yellow;
  }

  .navbar-right {
    height: 95px;
  }

  .btn-nav-cta {
    margin-top: 18px;
  }

  .navbar-inner-wrap {
    background: url("/images/devsecops-survey/cta-nav-bg.svg") no-repeat 100% 0;
    padding-right: 40px;
  }

}

@media (max-width: 992px) {
  .navbar .navbar-right {
    display: block;
  }
}

.footer {
  background-color: $cloudguide-bg;
  margin-top: 0;
  padding-bottom: 0;
}

.cta-icon {
  font-size: 0;
  vertical-align: middle;
}

.cta-icon img {
  display: inline-block;
  max-height: 24px;
  margin-left: 5px;
}

/**//**//**//**//**//**//**/

.hero {
  overflow: hidden;
}

.title-wrapper {
  margin: 0px auto 40px auto;
  text-align: left;
  width: 100%;
}

.button-white,
#main-nav.navbar .btn-nav-cta {
  background-color: $color-white;
  border: 0 none;
  color: $color-dso-purple-dark;
  font-size: 16px;
  font-weight: 600;
  line-height: 55px;
  padding: 0px 25px;

  &:active,
  &:hover,
  &:focus {
    opacity: .9;
  }

}

/**//**//**//**//**//**//**/

.lightbg {
  background: #ffffff;
}

.lightbg * {
  color: #333333;
}

.purplebg {
  background: $color-primary;
}

.purplebg * {
  color: #ffffff;
}

.purplebg p {
  font-weight: 400;
}

.purplebg .anchor-underline,
.purplebg .anchor-underline:active,
.purplebg .anchor-underline:focus,
.purplebg .anchor-underline:hover {
  color: #ffffff;
  text-decoration: underline;
}

/**//**//**//**//**//**//**/

.bgblob {
  display: block;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

/**//**//**//**//**//**//**/

.color-component-highlight {
  color: var(--color-component-highlight);
}

.blob-abstract img {
  max-width: 800px;
  position: absolute;
  transform: translate(-50%, -240px);
  width: 75vw;
}

.numeric-highlight {
  padding-right: 0;
}

.mobile-numeric-highlight {
  display: none;
} 

.numeric-highlight h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  top: -10px;
}

.statistic-container .unit {
  font-size: 56px;
  font-weight: 700;
}

/**//**//**//**//**//**//**/

.icon-list-columns img {
  float: right;
  position: relative;
  top: -15px;
  width: 50px;
}

.icon-list-columns h4 {
  margin-bottom: 10px;
}

/**//**//**//**//**//**//**/

.testimonial {
  background-color: $color-dso-purple-dark;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0 none;
  border-radius: 16px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto 40px auto;
  max-width: 700px;
  padding: 50px 50px;
  position: relative;
  width: 100%;
}

.testimonial:after {
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #2e0864 transparent transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 30px);
  width: 0;
}

.testimonial-source {
  color: $color-dso-text-purple;
  display: block;
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

#generic .testimonial {
  background-image: url("/images/devsecops-survey/gitlab-devsecops-testimonial-bg-line-01.svg");
}

#development .testimonial {
  background-image: url("/images/devsecops-survey/gitlab-devsecops-testimonial-bg-line-02.svg");
}

#security .testimonial {
  background-image: url("/images/devsecops-survey/gitlab-devsecops-testimonial-bg-line-03.svg");
}

#operations .testimonial {
  background-image: url("/images/devsecops-survey/gitlab-devsecops-testimonial-bg-line-04.svg");
}

#test .testimonial {
  background-image: url("/images/devsecops-survey/gitlab-devsecops-testimonial-bg-line-05.svg");
}

/**//**//**//**//**//**//**/

.mktoForm .mktoInvalid {
  border-width: 3px;
}

.mktoForm .mktoField {
  color: #333333;
}

.mktoForm label {
  color: $color-dso-purple-bright;
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox] {
  background: $color-dso-text-purple;
  border: 1px solid transparent;
  color: $color-dso-purple-dark;
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]::before {
  content: "No";
  color: $color-dso-purple-dark;
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]:checked::before {
  content: "Yes";
}

.mktoCheckboxList:not(.mktoRequired) input[type=checkbox]:checked {
  background: $color-dso-green;
}

.mktoButtonRow .mktoButtonWrap button {
  background: $color-dso-green;
  color: $color-dso-purple-dark;
  font-size: 0;
  width: 100%;
}

.mktoButtonRow .mktoButtonWrap button:before {
  content: "Get the full DevSecOps report";
  font-size: 16px;
  font-weight: 600;
}

.confirmform .destination-url,
.confirmform .destination-url:active,
.confirmform .destination-url:hover,
.confirmform .destination-url:focus {
  color: $color-dso-green;
}

/**//**//**//**//**//**//**/

.chart {
  color: "#fff";
  max-width: 600px;
  width: 100%;
}

.chart-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.chart-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.chart-list li {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
  transition: all 200ms;
  transform: translateX(-5px);

  .is-visible & {
    opacity: 1;
    transform: translateX(0px);
  }

  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 150ms;

      & .bar {
        transition-delay: 100ms + $i * 150ms;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    font-size: 20px;
  }
}

.chart-list .bar {
  background: $color-dso-purple-dark;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.chart-list li .bar span {
  background-color: var(--color-component-highlight);
  display: block;
  color: transparent;
  height: 18px;
  border-radius: 15px;
  transition: width 250ms;
  width: 0px;

  .not-visible & {
    width: 0px !important; // sass-lint:disable-line no-important
  }
}

.chart-caption {
  color: $color-dso-text-purple;
  font-size: 15px;
  line-height: 1.2;
}

/**//**//**//**//**//**//**/

footer.footer {
  display: none;
}

.footer-social {
  padding-left: 0;
}

.footer-social i {
  color: #444444;
  opacity: .4;
}

/**//**//**//**//**//**//**/

@media (max-width: 992px) {

  .title-wrapper img {
    display: none;
  }

  .navbar-center {
    display: none;
  }

  .cta-icon {
    display: none;
  }

  .row.u-margin-top-xl {
    margin-top: 0;
  }

  .icon-list-columns {
    margin-top: 0;
  }

  .blob-abstract {
    clear: both;
    float: none;
    text-align: center;
    width: 100%;
  }

  .blob-abstract img {
    max-width: 280px;
    position: static;
    transform: none;
    width: 100%;
  }

  .numeric-highlight {
    display: none;
  }

  .mobile-numeric-highlight {
    display: inline-block;
  }

  .statistic-container {
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  .col-md-6.u-margin-bottom-xl {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }

  .icon-list-columns img {
    display: none;
  }

  .mktoForm {
    max-width: 100%;
  }

  .footer-decoration {
    display: none;
  }

}

.form-to-resource-content .cbnc-message {
  display: inline-block;
  margin-top: 30px;
}
