
// sass-lint:disable no-qualifying-elements

.navbar {
  .mobile-cta-container {
    
    @media all and (max-width: 992px) {
      display: block;
      position: absolute;
      left: 64px;
      top: 13px;
    }
  }

  /*
  .btn-nav-cta {
    background-color: #ffffff;
    border: 1px solid #14125B;
    color: #14125B;
  }

  .btn-nav-cta:active,
  .btn-nav-cta:focus,
  .btn-nav-cta:hover {
    background: #14125B;
    color: #ffffff;
  }

  .navbar-right ul li a {
    color: #14125b;
  }
  */

  .btn-nav-cta {
    background: #554488;
    border: 1px solid #14125B;
    color: #ffffff;
    font-size: 15px;
    white-space: nowrap;
  }

  .btn-nav-cta:active,
  .btn-nav-cta:focus,
  .btn-nav-cta:hover {
    background: #403368;
  }

  .navbar-right ul li a {
    color: #403368;
    font-size: 14px;
    line-height: 2;
    padding: 0 14px;
  }

}
