---
title: GitLab for Project Managers Training
suppress_header: true
description: "for Project Managers Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_pm" }
    .row
      .col-md-12
        %h2 Course Syllabus
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 9:30a
                  %td GitLab Overview and Organization
                  %td 
                    %ul
                      %li GitLab Workflow Components
                      %li Planning a Project
                      %li The Plan Stage: Project Management
                      %li GitLab Organization - Groups, Projects, and Issues, oh my!
                %tr
                  %td 9:30 - 11:00a
                  %td GitLab Plan Stage
                  %td 
                    %ul
                      %li Organizing the Work
                      %li Planning the Work
                      %li Planning the Work
                      %li Doing the Work
                      %li Document the Work
                      %li GitLab Agile Planning Structures
                %tr
                  %td 11:00a - 4:30p
                  %td Planning Functions in GitLab
                  %td 
                    %ul
                      %li Issues: The Starting Point for your Workflow
                      %li Issues Keep Everyone Connected and Synchronized
                      %li What Can you Expect on an Issue Page?
                      %li <strong>Hands on Lab</strong>: Issues and Labels
                      %li <strong>Hands on Lab</strong>: Quick Actions
                      %li Why Milestones are Important
                      %li The Use of Kanban Boards
                      %li GitLab's Service Desk
                      %li Utilizing Wikis
                      %li <strong>Hands on Lab</strong>: Create a Wiki Page
                      %li <strong>Hands on Lab</strong>: Epics and Kanban Boards
                      %li Project Management Review Quiz
                      %li <strong>Hands On Lab</strong>: Practice Lab 1
                      %li <strong>Hands On Lab</strong>: Practice Lab 2
        <a href='https://drive.google.com/file/d/1riZbaqnLLU18ENCwJUitYDXjnS1Ww_IR/view?usp=sharing'> Download the syllabus</a>  
        = partial "includes/services/requirements", locals: { id: "training_sessions_pm" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_pm" }
        

