Points of weight delivered by the team on the last milestones. This allows for more accurate estimation of what we can deliver
in future milestones. Full chart [here](https://app.periscopedata.com/app/gitlab/565798/WIP:-Backend-Growth:Fulfillment-milestone-weights).

<embed width="<%= 99 %>%" height="350" src="<%= signed_periscope_url(dashboard: 565798, chart: chart_id, embed: 'v2') %>">

