---
layout: default
title: Multicloud
description: "Harness the power of the cloud with microservices, cloud-agnostic DevOps, and workflow portability."
suppress_header: true
extra_css:
  - devops.css
  - agile-delivery.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
canonical_path: "/multicloud/"
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/icons/auto-devops.svg", class: "hero-image-huge"
    %h1 Multicloud
    %p Harnesses the power of cloud-agnostic DevOps and workflow portability.
    = link_to "Download the ebook", "/resources/guide-to-the-cloud/", class: "btn cta-btn orange devops-cta"
.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}





      .row.u-margin-top-lg.js-in-page-nav-section#need
        .col-md-10.col-md-offset-1
          %h2.hidden The need for multicloud
          %h2.u-text-brand The need for multicloud
          %p Building better products with speed and consistency requires using reliable cloud solutions to rapidly scale to meet sudden demand. When businesses rely on a single vendor for cloud computing, they risk experiencing downtime and data loss if the cloud services provider is unable to meet a sudden uptick in demand. Customers expect dependable applications and few outages, making the reliance on a single cloud a risky decision for organizations looking to meet both business and market demand.
          %p Outages can happen, but organizations must find ways to minimize the occurrence or they risk losing customers. A multicloud approach decreases the risk of data loss and downtime by spreading computing across multiple cloud solutions, such as Google Cloud Platform, Microsoft Azure, and Amazon Web Services.
          %h4.bold-links
            = link_to "Download the Guide to the cloud: How to navigate the multi-cloud eBook →", "/resources/guide-to-the-cloud/"





      .row.u-margin-top-lg.js-in-page-nav-section#strategy
        .col-md-10.col-md-offset-1
          %h2.hidden Multicloud strategy
          %h2.u-text-brand What is a multicloud strategy?
          %p In cloud computing, a multicloud strategy is the use of at least two cloud computing services from different cloud vendors in a single network architecture. A multicloud deployment enables teams to select the best providers for every technical and business need. A multicloud environment increases the available storage, computing power, and cost savings. Organizations can choose between multiple deployments of the same type of cloud (public or private) to leverage the best cloud solutions. 
          %p Private clouds are dedicated to one organization, so specific provisions can be made to ensure security and compliance. Private clouds can either be sold as a Platform-as-a-Service (PaaS) or offered as Infrastructure-as-a-Service (IaaS). A public cloud offers cloud solutions to multiple customers who share the cloud environment. Because they are automatically provisioned, they are considered less secure and not an option to store sensitive and confidential data.
          %h4.bold-links
            = link_to "Learn how CI/CD is important in a multicloud strategy →", "/blog/2020/01/17/ci-cd-the-ticket-to-multicloud/"





      .row.u-margin-top-xl.js-in-page-nav-section#benefits
        .cta-featured-grid
          .row.u-margin-bottom-md
            .col-md-10.col-md-offset-1
              %h2.hidden Multicloud benefits
              %h2.u-text-brand Benefits of using multiple clouds
              .featured-icons.text-center
                .featured-icon
                  = partial "/images/icons/first-look-influence.svg"
                  %p.number Greater flexibility
                  %p.description Each cloud vendor shines in some areas and is weak in others. The ability to work with multiple vendors lets organizations use the right tool for the job.
                .featured-icon
                  = partial "/images/20-years-open-source/1998-open-source-2.svg"
                  %p.number Workflow portability
                  %p.description Have a consistent workflow, regardless of where projects are deployed.
                .featured-icon
                  = partial "/images/icons/concurrent-devops-dark-dark.svg"
                  %p.number Increased resilience
                  %p.description Architecting failover between multiple cloud providers lets you stay up even if one of your vendors is down.
                .featured-icon
                  = partial "/images/press/get-in-touch-icon.svg"
                  %p.number Improved cloud negotiations
                  %p.description If another cloud vendor offers better terms or significant credits, businesses have better leverage because their DevOps processes are not tied to vendor-specific services.
              :css
                .featured-icon {
                  flex: 0 0 320px;
                  max-width: 85vw;
                  width: 320px;
                }




      .row.u-margin-top-xl.js-in-page-nav-section#maturity
        .col-md-10.col-md-offset-1

          %h2.hidden Multicloud maturity
          %h2.u-text-brand Multicloud maturity

          %p
            Approximately 
            = link_to "85% of organizations", "https://www.ibm.com/blogs/cloud-computing/2018/10/19/survey-multicloud-management-tools/"
            use multicloud environments, but not every organization is at the same level of maturity. As teams work through the multicloud maturity model, they increase portability by insulating cloud services from underlying infrastructure, such as processors, operating systems, and virtualization software, through layers of abstraction.

          %h4 Mono-cloud
          %p All applications are in one cloud. With this strategy, a company goes “all-in” with one cloud provider for the ease of use, or because the services offered meet current business needs. The organization is locked in with a single vendor.

          %h4 No portability
          %p There may be separate teams within the same organization, and each is working out of different cloud providers, but each team is working in its own mono-cloud environment. This structure uses multiple clouds but is not technically multicloud.

          %h4 Workflow portability
          %p Workflow portability is what makes deploying anywhere possible. Instead of having to tailor certain workflows to certain clouds, developers can have one workflow with cloud-independent DevOps processes and frameworks for making deployment decisions.

          %h4 Application portability
          %p In this scenario, applications can run on any cloud, and cloud-specific services are abstracted. Application portability is hard to attain, because it requires engineering interfaces as abstractions. It also leaves organizations using only the features that are common to all clouds, so they miss out on any specialty capabilities that could improve their processes.

          %h4 Disaster Recovery Portability
          %p In this scenario, applications can fail over to another cloud with limited downtime. If a cloud provider’s data center should go down, organizations have the ability to switch to another provider.

          %h4 Workload portability
          %p The goal of workload portability is for organizations to shift application workloads between multiple clouds dynamically (e.g. autoscaling servers for background jobs). Workload portability makes it possible to migrate elements of a business service to the appropriate infrastructure so that it can service the needs of the user.

          %h4 Data portability
          %p Data portability is a feature that lets users take their data from a service and transfer or “port” it elsewhere, typically through an API.

          %h4.bold-links
            = link_to "Discover the challenges of shifting from on-prem to cloud →", "/blog/2020/01/09/shifting-from-on-prem-to-cloud/"





      .row.u-margin-top-xl.u-margin-bottom-xl.js-in-page-nav-section#resources
        .col-md-10.col-md-offset-1
          %h2.hidden Next steps
          %h2.u-text-brand Next steps
          %p Ready to learn more about multicloud? Here are a few resources to help you get started on your journey.

          %div
            %ul.bold-links
              %li
                = link_to "Learn how GitLab enables cloud native applications →", "/solutions/cloud-native/"
              %li
                = link_to "Learn how GitLab and GCP work together →", "/solutions/google-cloud-platform/"
              %li
                = link_to "Learn how GitLab and AWS work together →", "/solutions/aws/"
              %li
                = link_to "Watch how Ask Media Group modernized their architecture and development with microservices, containers, and Kubernetes →", "/webcast/cloud-native-transformation/"
              %li
                = link_to "Hear how Delta Became Truly Cloud Native - Avoiding the Vendor-Lock →", "https://www.youtube.com/watch?v=zV_hFcxoN8I&list=PLFGfElNsQthaaqEAb6ceZvYnZgzSM50Kg&index=3&t=0s"
